@import '../../index.scss';
@import '../../styles/layout.scss';
@import '../../styles/button.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.93rem;
  color: white;
  background-color: $color-secondary;
  border-bottom: 1px solid $color-secondary;

  &__branding {
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 300;
  }

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__list {
    @include flex-center;
    flex-basis: 100%;
    transition: all .3s;
  }

  &__item:not(:last-child) {
    margin-right: 2.5rem;
  }

  &__link {
    transition: color .3s ease;

    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      font-size: 1.12rem;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }

    &--active:link,
    &--active:visited {
      color: $color-primary-dark;
    }
  }

  &__button {
    @include button;
    @include button-primary;
    @include button-small;

    &:hover {
      @include button-primary-outline;
    }
  }
}