@import '../node_modules/react-notifications/dist/react-notifications.css';
@import './index.scss';

.heading__primary {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.25rem;
  margin-bottom: 3rem;
  text-align: center;
}

.heading__secondary {
  text-align: center;
  font-size: 2.18rem;
  font-weight: 300;

  margin-bottom: 1.25rem;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.form {
  @include flexCenter;
  flex-wrap: wrap;
}

.form__control {
  flex: 1 1 100%;
  max-width: 25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.form__control:last-of-type {
  margin-bottom: 3rem;
}

.form__control--big {
  max-width: none;
  width: 25rem;
}

.form__label {
  flex: 1 1 100%;
  margin-bottom: 0.93rem;
  font-size: 1.25rem;
}

.form__input {
  flex: 1 1 100%;
  width: 100%;
  background-color: $color-white-disabled;

  border: none;
  box-shadow: none;
  padding: 0.62rem 0.93rem;

  font-size: 1rem;
  font-family: $default-font-family;
}

.button {
  align-self: center;
  border: 3px solid transparent;
  box-shadow: none;
  padding: .62rem .93rem;
  cursor: pointer;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1.25rem;

  @include flexCenter;

  transition: all .3s ease;
}

.button:hover {
  background-color: $color-white;
  border-color: $color-primary;
  color: $color-primary;
}

.button:disabled {
  background-color: $color-primary-light;
  color: $color-white-disabled;
  border-color: $color-primary-light;
}


.button--sm {
  padding: .31rem .62rem;
  font-size: 1.12rem;
}

.button--xs {
  padding: .5rem;
  border-radius: 0;
}

.button--beige {
  background-color: $color-terciary;
}

.button--beige:hover {
  background-color: $color-terciary-dark;
  border-color: $color-terciary-dark;
  color: $color-white;
}

.button--navy {
  background-color: $color-secondary;
}

.button--navy:hover {
  background-color: $color-secondary-light;
  border-color: $color-secondary-light;
  color: $color-white;
}

.button__icon { 
  font-size: 1.56rem;
}

.as-stretch {
  align-self: stretch;
}

.notification-container {
  margin-top: 4.68em;
}