*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

.heading__primary {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.25rem;
  margin-bottom: 2.15rem;
  text-align: center;
}

.heading__secondary {
  text-align: center;
  font-size: 2.18rem;
  font-weight: 300;

  margin-bottom: 1.25rem;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.93rem;
  background-color: #F3EEEB;
  border-bottom: 1px solid #ccc;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__name {
  font-size: 1.56rem;
  font-weight: 300;
}

.nav__name:link,
.nav__name:visited {
  color: #1c1c1c;
}

.nav__list {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}

.nav__item:not(:last-child) {
  margin-right: 2.5rem;
}

.nav__link:link,
.nav__link:visited {
  color: #1c1c1c;
  text-decoration: none;
  font-size: 1.12rem;
}

.nav__link:hover,
.nav__link:active {
  color: #505050;
}

.nav__link--active:link,
.nav__link--active:visited {
  color: #777;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.book-list {
  padding-top: 8rem;
}

.book-list__container {
  display: flex;
  flex-wrap: wrap;
}

.book-details {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.book {
  flex: 1 1 calc(33% - 1.62rem);
  display: flex;
  align-content: center;
  padding: 0.93rem 1.25rem;
  border-radius: 3px;
  margin-bottom: 1.87rem;
}

.book:not(:nth-child(3n)) {
  margin-right: 1.87rem;
}

.book__info {
  flex: 1 1 auto;
}

.book__name {
  margin-bottom: 0.63rem;
  font-size: 1.87rem;
  font-weight: 300;
}

.book__author {
  font-style: italic;
  font-size: 1.12rem;
}

.book__button {
  flex: 0 0 auto;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form__control {
  flex: 1 1 100%;
  max-width: 25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.form__control:last-of-type {
  margin-bottom: 3rem;
}

.form__control--big {
  max-width: none;
  width: 25rem;
}

.form__label {
  flex: 1 1 100%;
  margin-bottom: 0.93rem;
  font-size: 1.25rem;
}

.form__input {
  flex: 1 1 100%;
  width: 100%;
  background-color: #F3EEEB;

  border: none;
  border-radius: 3px;
  box-shadow: none;
  padding: 0.62rem 0.93rem;

  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

.details__form {
  flex-direction: column;
}

.button {
  align-self: center;
  border: 3px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  padding: .62rem .93rem;
  cursor: pointer;
  background-color: #505050;
  color: #fff;
  font-size: 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .3s ease;
}

.button:hover {
  background-color: #fefefe;
  border-color: #505050;
  color: #505050;
}

.button:disabled {
  background-color: #AFAFAF;
  color: #E7E7E7;
  border-color: #AFAFAF;
}

.button--small {
  padding: .6rem;
}

.button--light {
  background-color: #d4d4d2;
  color: #1c1c1c;
}

.button--light:hover {
  background-color: #1c1c1c;
  border-color: #d4d4d2;
  color: #d4d4d2;
}

.button--orange {
  background-color: #ff9500;
}

.button--orange:hover {
  background-color: #fefefe;
  border-color: #ff9500;
  color: #ff9500;
}

.button--orange:disabled {
  background-color: #FFD9A6;
  color: #E7E7E7;
  border-color: #FFD9A6;
}

.button--red {
  background-color: #ff3b30;
}

.button--red:hover {
  background-color: #fefefe;
  border-color: #ff3b30;
  color: #ff3b30;
}

.button__icon { 
  font-size: 1.12rem;
}