@import '../../index.scss';
@import '../../styles/button.scss';

.book {
  flex-basis: calc(33% - 1.04rem);
  display: flex;
  align-content: center;
  margin-bottom: 1.87rem;

  background-color: $color-primary;
  color: $color-white;

  &:not(:nth-child(3n)) {
    margin-right: 1.87rem;
  }

  &__info {
    flex: 1 1 auto;
    padding: 0.93rem 1.25rem;
  }

  &__name {
    margin-bottom: 0.63rem;
    font-size: 1.87rem;
    font-weight: 300;
  }

  &__author {
    font-style: italic;
    font-size: 1.12rem;
  }

  &__button {
    @include button;
    @include button-xs;
    flex: 0 0 auto;
    align-self: stretch;

    &--secondary {
      @include button-secondary;

      &:hover {
        @include button-secondary-light;
      }
    }

    &--terciary {
      @include button-terciary;

      &:hover {
        @include button-terciary-dark;
      }
    }
  }

  &__icon {
    font-size: 1.56rem;
  }
}